/* fontdiner-swanky-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fontdiner Swanky';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/fontdiner-swanky-v19-latin/fontdiner-swanky-v19-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('./fonts/fontdiner-swanky-v19-latin/fontdiner-swanky-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/fontdiner-swanky-v19-latin/fontdiner-swanky-v19-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/fontdiner-swanky-v19-latin/fontdiner-swanky-v19-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/fontdiner-swanky-v19-latin/fontdiner-swanky-v19-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/fontdiner-swanky-v19-latin/fontdiner-swanky-v19-latin-regular.svg#FontdinerSwanky') format('svg');
    /* Legacy iOS */
}

.d-none {
    display: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/background.png);
    background-position: center;
    font-family: 'Fontdiner Swanky';
    margin: 0;
    height: 100vh;
    width: 100%;
}

#content {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.802);
}

canvas {
    width: 100%;
    display: block;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.802);
}

#startScreenContainer {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#startScreenImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.802);
}

#playBtn {
    position: absolute;
    bottom: 20px;
    right: 44%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 5px 20px;
    box-shadow: 0px 0px 3px 3px black;
    border-radius: 10px;
    background-color: rgb(255, 196, 2);
}

#playBtn:hover {
    scale: 1.2;
    cursor: pointer;
}

.fullscreenBtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;

}

.fullscreenBtn:hover {
    scale: 1.2;
    cursor: pointer;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 19px;
}

#endScreenContainer {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#endScreenImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.802);
}

#restartBtn {
    position: absolute;
    bottom: 20px;
    right: 44%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 5px 20px;
    box-shadow: 0px 0px 3px 3px black;
    border-radius: 10px;
    background-color: rgb(255, 196, 2);
}

#restartBtn:hover {
    scale: 1.2;
    cursor: pointer;
}

/* Mobile Device */

.mobileBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #F7D5AA;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(255, 196, 2);
}

#hud {
    position: absolute;
    width: 100%;
    height: 100%;
}

.panel {
    display: none;
}

.upperPanel {
    position: absolute;
    top: 10px;
    right: 10px;
}

.upperPanelWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.mobileBtns:hover {
    scale: 1.2;
    cursor: pointer;
}

.rotate {
    display: none;
}

.sorry {
    display: none;
}

/* Smartphones */
@media only screen and (max-width: 640px) {
    h2 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 299px) {
    .canvas {
        display: none;
    }

    .rotate {
        display: none;
    }

    .sorry {
        display: block;
        position: absolute;
        z-index: 4;
        width: 100%;
    }

    .sorryInfoBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .sorryInfoBox img {
        width: 100%;
        height: 100vh;
    }

    .sorryInfoBox p {
        position: absolute;
        font-size: 20px;
        color: white;
        text-align: center;
    }
}

@media only screen and (max-width: 599px) {
    .rotate {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        background-color: rgb(111, 110, 110);
    }

    .rotateInfoBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
}

@media only screen and (max-width: 720px) {
    #content {
        width: 100%;
        max-width: 720px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        width: 100%;
        border-radius: 0px;
        max-width: 720px;
    }

    #startScreenContainer {
        width: 100%;
        max-width: 720px;
    }

    #startScreenImg {
        border-radius: 0px;
        width: 100%;
        max-width: 720px;
    }

    #endScreenContainer {
        width: 100%;
        max-width: 720px;
    }

    #endScreenImg {
        width: 100%;
        max-width: 720px;
    }
}

/* Smartphones */
@media only screen and (max-width: 599px) and (max-height: 299px) {
    .rotate {
        display: none;
    }

    .sorry {
        display: block;
        position: absolute;
        z-index: 3;
        width: 100%;
    }

    .sorryInfoBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .sorryInfoBox img {
        width: 100%;
        height: 100vh;
    }

    .sorryInfoBox p {
        position: absolute;
        font-size: 20px;
        color: white;
        text-align: center;
    }
}

@media only screen and (max-height: 600px) {
    .rotate {
        display: none;
    }
}

@media only screen and (max-height: 299px) {
    .sorry {
        display: block;
        position: absolute;
        z-index: 3;
        width: 100%;
    }

    .sorryInfoBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .sorryInfoBox img {
        width: 100%;
        height: 100vh;
    }

    .sorryInfoBox p {
        position: absolute;
        font-size: 20px;
        color: white;
        text-align: center;
    }
}

@media only screen and (max-height: 480px) {
    #content {
        width: 100%;
        max-width: 720px;
        height: 100vh;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        width: 100%;
        max-width: 720px;
        height: 100vh;
        border-radius: 0px;
        box-shadow: none;
    }

    .title {
        display: none;
    }

    #instruction {
        display: none;
    }

    #startScreenContainer {
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    #startScreenImg {
        border-radius: 0px;
        width: 100%;
        height: 100vh;
        box-shadow: none;
    }

    #endScreenContainer {
        width: 100%;
        height: 100vh;
        z-index: 3;
    }

    #endScreenImg {
        border-radius: 0px;
        width: 100%;
        height: 100vh;
        box-shadow: none;
    }

    #hud {
        display: block;
    }

    .panel {
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: row;
        height: 100vh;
    }

    .upperPanel {
        z-index: 2;
    }

    .upperPanel:hover {
        scale: 1;
    }

    .mobileBtns:hover {
        scale: 1;
    }

    .downPanelWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 6px;
    }

    .fullscreenBtn {
        display: none;
    }
}

@media only screen and (max-height: 650px) {
    h1 {
        display: none;
    }
}