@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

.d-none {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/background.png);
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    text-align: center;
}

canvas {
    display: block;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .title {
        display: none;
    }
}