@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

.d-none {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/background.png);
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100%;
}

#content {
    position: relative;
    width: 720px;
    height: 480px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.802);
}

#startScreenContainer {
    position: absolute;
    top: 0;
}

#startScreenImg {
    width: 720px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.802);
}

.startScreenImgFullscreen {
    width: 100% !important;
    height: 100vh !important;
}

#playBtn {
    position: absolute;
    bottom: 20px;
    right: 44%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 5px 20px;
    box-shadow: 0px 0px 3px 3px black;
    border-radius: 10px;
    background-color: rgb(255, 196, 2);
}

#playBtn:hover {
    scale: 1.2;
    cursor: pointer;
}

.fullscreenBtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.fullscreenBtn:hover {
    scale: 1.2;
    cursor: pointer;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

canvas {
    display: block;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.802);
}

.canvasFullScreen {
    width: 100% !important;
    height: 100vh !important;
}

#endScreenContainer {
    position: absolute;
    top: 0;
}

#endScreenImg {
    width: 720px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.802);
}

.endScreenImgFullscreen {
    width: 100% !important;
    height: 100vh !important;
}

#restartBtn {
    position: absolute;
    bottom: 20px;
    right: 44%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 5px 20px;
    box-shadow: 0px 0px 3px 3px black;
    border-radius: 10px;
    background-color: rgb(255, 196, 2);
}

#restartBtn:hover {
    scale: 1.2;
    cursor: pointer;
}

/* Mobile Device */

.mobileBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #F7D5AA;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(255, 196, 2);
}

#hud {
    position: absolute;
    top: 0;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    /* h1 {
        display: none;
    } */

    #content {
        width: 100%;
    }

    canvas {
        width: 100%;
        border-radius: 0px;
    }

    #startScreenContainer {
        width: 100%;
    }

    #startScreenImg {
        border-radius: 0px;
        width: 100%;
    }

    #endScreenContainer {
        width: 100%;
    }

    #endScreenImg {
        width: 100%;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    body {
        background-image: none;
    }

    #content {
        height: 100vh;
        box-shadow: none;
    }

    canvas {
        height: 100vh;
        border-radius: 0px;
        box-shadow: none;
    }

    .title {
        display: none;
    }

    #instruction {
        display: none;
    }

    #startScreenContainer {
        height: 100vh;
    }

    #startScreenImg {
        border-radius: 0px;
        height: 100vh;
        box-shadow: none;
    }

    #endScreenContainer {
        height: 100vh;
    }

    #endScreenImg {
        border-radius: 0px;
        height: 100vh;
        box-shadow: none;
    }

    #hud {
        display: block;
    }
}